<layout name="layout" />

<div class="main-div">
    <form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">会员id：</td>
                <td>
                    <input  type="text" name="member_id" value="" />
                </td>
            </tr>
            <tr>
                <td class="label">商品id：</td>
                <td>
                    <input  type="text" name="goods_id" value="" />
                </td>
            </tr>
            <tr>
                <td class="label">评论内容：</td>
                <td>
                    <input  type="text" name="content" value="" />
                </td>
            </tr>
            <tr>
                <td class="label">评分分值：</td>
                <td>
                    <input  type="text" name="star" value="5" />
                </td>
            </tr>
            <tr>
                <td colspan="99" align="center">
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
</script>